<h4>Following 10</h4><h4>Followers 10</h4><h4>Notes {{note_count}}</h4><h4>Notes unpublished {{unpublished_notes}}</h4>
{% if creator == request.user %}
<a href="{% url 'profile-update' %}">Update profile</a>
{% endif %}
<hr>

<!-- All notes section for note creator -->
{% for note in notes %}
{% if note.creator == request.user %}
<p>@{{note.creator.username}}</p><p>{{note.created_date|timesince}} ago</p>
<p>{{note.text}}</p>
<a href="{% url 'edit-note' note.id %}">Edit</a> <a href="{% url 'delete-note' note.id %}">Delete</a>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Follow creator">
</form>
<hr>
{% endif %}
{% endfor %}

<!-- Published section for other users -->
{% for published_note in published_notes %}
{% if published_note.creator != request.user %}
<p>{{published_note.created_date|timesince}} ago</p>
<p>{{published_note.text}}</p>
<p>30 likes</p>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Follow creator">
</form>
<hr>
{% endif %}
{% endfor %}

