{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{{request.user.username|title}}
<img src="{{request.user.avatar.url}}" width="50" height="50">
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<a href="{% url 'create' %}">Create note</a>
{% for note in notes %}
<a href="{% url 'profile' note.creator.id %}">@{{note.creator.username}}</a><p>{{note.created_date|timesince}} ago</p>
<p>{{note.text}}</p>
<a href="{% url 'like' %}?note_id={{note.id}}">icon
    {% if note.no_of_likes == 0 %}
    <p>no likes</p>
    {% elif note.no_of_likes == 1 %}
    <p>{{note.no_of_likes}} like</p>
    {% else %}
    <p>{{note.no_of_likes}} likes</p>
    {% endif %}
</a>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Follow creator">
</form>
<hr>
{% endfor %}
{% endblock %}